{{define "home"}}
<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
<div class="full-screen">
    <div class="home-title">
        <h1>CETAK</h1>
    </div>
    <div class="home-body">
        <div class="home-content">
            <table class="comparison-table">
                <tr>
                    <td>Turn this</td>
                    <td>Into this</td>
                </tr>
                <tr>
                    <td>{{"Hello {{ .Text }}"}}</td>
                    <td>Hello World!</td>
                </tr>
            </table>
            <p>in your docx file.</p>
            <div class="home-action">
                <wired-button>Read Tutorial</wired-button>
                <a href="presubmit" class="button-link">
                    <wired-button elevation="4">Start Cetak-ing</wired-button>
                </a>
            </div>
        </div>
        <div class="home-links">
            <a href="https://github.com/habibridho/cetak-webapp" target="_blank">
                <ion-icon name="logo-github" size="large"></ion-icon>
            </a>
        </div>
    </div>
</div>
</body>
</html>
{{end}}