{{define "head"}}
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/cetak.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/wired-elements@latest/lib/wired-elements-bundled.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
    <script src="static/js/cetak.js"></script>

    <title>Cetak</title>
</head>
{{end}}